/* ----------- VARIABLES ----------- */

@font-face {
    font-family: WorkSans;
    src: url(WorkSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(Poppins-Medium.ttf);
}
@font-face {
    font-family: "Caveat Brush";
    src: url(CaveatBrush-Regular.ttf);
}
@font-face {
    font-family: "Kalam";
    src: url(Kalam-Regular.ttf);
}



/* --- mixins and variables --- */
$white: #fff;
$black: #000;
$lightcream: #fef8ec;
$cream: #FDF0D5;
$darkerpurple: #201d1e;
$darkpurple: #3A3335;
$orange: #F0544F;
$pink: #D81E5B;
$blue: #58A1B2;
$green: #81B775;


@mixin zeromarg {
    padding: 0;
    margin: 0;
}

@mixin page-edge {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
@mixin padding-vert($val){
    padding-top: $val;
    padding-bottom: $val;
}


/* -------- TYPOGRAPHY --------- */

body {
    font-family: "Work Sans", sans-serif;
    }

/* ----------- BASE STYLES ----------- */

body {
    @include zeromarg();
    .root {
        @include zeromarg();
    }
    background-color: $cream;
}

button {
    font-size: 1em;
    border-radius: 2px;
    padding: .5em 1em;
    border: none;
}


/* ------------ NAV -------------- */

.gameNav {
    display: flex;
    justify-content: space-between;
    background-color: $darkerpurple;
   border-bottom: 3px solid $darkpurple;
    
    @include page-edge();
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
   
          align-items: center;


    .gameTitle {
        text-transform: uppercase;
        font-weight: 800;
        font-family: 'Work Sans', sans-serif;
        color: $orange;
        font-size: 2em;
        @include padding-vert(.2em);
        margin: 0;
        
    }
    .gameName {
        text-transform: uppercase;
        font-weight: 800;
        font-family: 'Work Sans', sans-serif;
        color: $cream;
        font-size: 1.2em;
        background-color: $darkpurple;
        
        padding: 1em 1em 1em 1em;
        margin: 0;
        cursor:pointer;
    }
    .gameSettings {
        color: $cream;
        display: inline-block;
        padding-left: 10px;
    }
    .gameMenu {
        @include zeromarg();
        position: relative;
        text-align: right;
        top: 0;
        left: 0;
        background-color: $darkpurple;
        ul {
            list-style-type: none;
            @include zeromarg();
            margin: .4em 0 0 0;
            li {
                font-weight: 300;
                font-size: .9em;
                margin: .2em 0;
                a{
                    color: $cream;
                    text-decoration: none;
                    text-transform: none;
                }
            }
        }
    }
}

  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  
  
  .square:focus {
    outline: none;
  }
  
  
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }


 

  
  
  /* ---------- ALL TEAMS LIST ----------- */

  .teamRow {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $black;
      @include page-edge();
      @include padding-vert(.2em);
      background-color: $cream;
      font-family: 'Work Sans', sans-serif;
      .teamDetails {
        flex: 2;
        
        align-items: center;

        
        button {
            background-color: $blue;
            color: $lightcream;
            margin: .7em 0 0 0;
            font-size: 1.1em;
        }
        p {
            @include zeromarg();
        }
        .countdown {
            font-size: 2em;
            font-weight: 300;
            padding: .1em 0;

        }

        .teamName {
            @include zeromarg();
            font-size: 1.3em;
          font-weight: 300;
          
          
        }
      }
      
      &.active {
          background-color: $orange;
          color: $white;
          .teamName {

            font-size: 1.1em;
            font-weight: 500;
          }
      }
      .teamScore {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: .3em .5em;
          margin: .4em 0 .4em 1em;
          background-color: $white;
          color: $black;
          text-align: right;
          font-weight: 700;
          font-size: 2em;
          width: 1em;
          height: 1.5em;
          .scoreNumber {
              @include zeromarg();
          }
      }

  }

  /* ---------- CLUEING ----------- */

  .clueWidget {
      @include page-edge();

      .clueWord {
        font-family: "Kalam", sans-serif;
        background-color: $white;
        text-align: center;
        font-size: 2.5em;
        margin: .2em 0;
        padding: .5em .5em .5em .5em;
        height: 3em;
        line-height: 1em;
        align-items: center;
        justify-content: center;
        top: 50px;
        
      }
      .buttonCorrect {
          font-size: 1.5em;
          text-align: center;
          button {
              background-color: $green;
          }

      }
      .otherButtons {
          text-align: center;
          @include zeromarg();
      }
      .buttonWhoops, .buttonGiveUp {
          display: inline-block;
          text-align: center;
          margin: 0;
          padding: 0em .6em;
      }
      .buttonWhoops button, .buttonGiveUp button {
          margin: 0;
          padding: 0;
          background-color: transparent;
          text-decoration: underline;
          text-align: center;
      }
      .buttonWhoops {

      }
      .buttonGiveUp{

      }
  }

  /* ---------- BOWL ----------- */
.bowl {
    @include page-edge();
    @include padding-vert(.3em);
    .remainingWords {
        @include zeromarg();
        font-family: "Work Sans", sans-serif;
        font-size: 5em;
        color: $white;
        font-weight: 800;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        top: .35em;
    }
    .remainingWordsSVG {
        font-family: "Work Sans", sans-serif;
        font-size: 96px;
        font-weight: 800;
        text-anchor: middle;
        position: relative;
        width: 100%;
        
        .textFill {
            fill: $white;
            stroke: none;
            
        }
        .textStroke {
            stroke: #000;
            fill: none;
            stroke-width: 2;
        }
    }
    
    
    .bowlImage {
        @include zeromarg();
        position: absolute;
        z-index: -1;
        bottom: 10px;
        img {
            height: 15em;
            width: 100%;
            margin-left: auto;
        margin-right: auto;
        
        }

    }

}
