{
        storage file_system {
                root /config
        }

        admin 0.0.0.0:2019

        auto_https off
}

import /config/sites.d/*

bfon.club

root * /srv
rewrite /instructions /
reverse_proxy /ws localhost:5000
file_server
